.homepage-container {
  display: flex;
  flex-direction: column;
  .background-image {
    position: relative;
    background-image: linear-gradient(to right bottom, #070706f5, #26e20d2f),
      url("/images/background.jpg");
    background-size: cover;
    height: 60vh;
    color: #ec9819a8;
    @media screen and (max-width: 800px) {
    }

    .profile-image {
      width: 270px;
      height: 270px;
      background-image: url("/images/profile2.png");
      background-size: cover;
      border: none;
      display: block;
      position: absolute;
      top: 20px;
      left: 530px;

      @media screen and (max-width: 800px) {
        width: 170px;
        height: 170px;
        top: 5px;
        left: 240px;
      }
      @media screen and (max-width: 400px) {
        top: 60px;
        left: 90px;
      }
    }
    .profile-text {
      font-size: 26px;
      font-weight: 700;
      color: white;
      position: absolute;
      top: 285px;
      left: 542px;
      @media screen and (max-width: 800px) {
        top: 170px;
        left: 230px;
        font-size: 20px;
        font-weight: 600;
      }
      @media screen and (max-width: 400px) {
        top: 225px;
        left: 87px;
      }
    }
  }

  .main-section {
    position: relative;

    .about-container {
      padding: 40px;
      margin: 0 auto;
      width: 85%;
      border-radius: 3px;
      box-shadow: 0px 20px 150px rgba(63, 46, 46, 0.3);

      background-color: rgba(255, 255, 255, 0.4);
      margin: 50px;
      @media screen and (max-width: 800px) {
        width: 90%;
        justify-content: center;
        margin: 10px auto;
      }

      .title {
        margin-bottom: 15px;
        margin-left: 65px;
        font-weight: 700;
        font-size: 27px;
        text-transform: capitalize;
        border-bottom: solid 2px gray;
        width: 125px;
        text-align: center;

        @media screen and (max-width: 800px) {
          margin-left: 40px;
        }
      }
      .content {
        display: flex;
        .image-container {
          width: 260px;
          height: 260px;

          background-image: url("/images/profile.png");
          background-size: cover;
          // object-fit: cover;
          display: block;
          border-radius: 90%;
          @media screen and (max-width: 800px) {
            margin-bottom: 10px;
            width: 200px;
            height: 200px;
          }
        }
        .description {
          width: 60%;
          padding: 30px;
          #github-link{
            color:rgb(21, 144, 214);
            text-decoration: none;
            font-weight: bold;
          }
          @media screen and (max-width: 800px) {
            padding: 10px 0;
            width: 100%;
          }
        }
        @media screen and (max-width: 800px) {
          display: flex;
          font-size: small;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
}
