.projects-container {
  position: relative;
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);

  .projects-heading {
    font-family: Cambria;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px;
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(
      to right,
      rgb(255, 166, 1),
      rgba(160, 218, 26, 0.76)
    );
    background-clip: text;
    color: transparent;
    letter-spacing: 1.5px;
    transition: all 0.2s;

    &:hover {
      transform: skewY(1deg) skewX(15deg) scale(1.1);
      text-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
    }
  }
}
