.homepage-container {
  display: flex;
  flex-direction: column;
  .background-image {
    background-image: linear-gradient(to right bottom, #f0a10d6b, #ecd719be),
      url("/images/banner.jpg");
    background-size: cover;
    height: 50vh;
    color: #ec9819a8;
  }
}
